body {
    position: relative;
    height: 460px;
    width: 300px;
    background-color: #3676a1;;
    margin: 60px auto;
}

header {
    position: absolute;
    height: 454px;
    left: 0;
    right: 0;
    top: 0;
    background-image: linear-gradient(to right, rgb(8, 139, 247), rgb(117, 180, 223));
}

img {
    position: absolute;
    height: 117px;
    width: 138px;
    border-radius: 50%;
    left: 81px;
    top: 10px;
}

h1 {
    
    position: absolute;
    color: white;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    top: 118px;
    left: 14px;
    text-align: center;
}

h3 {
    
    position: relative;
    color: white;
    font-size: 22px;
    top: 166px;
    left: -3px;
    text-align: center;
}

main {
    
    color: rgb(19 19 20);
    font-size: 18px;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 257px;
    line-height: 1.8;
    border-style: solid;
    border-color: #455a6e;
    border-width: 5px 10px;
    border-radius: 12px;
    padding: 15px 20px;
}


.fas {
    left: 8px;
    top: 7px;
    color: #041355;
    font-size: 15px;
}

footer {
    position: absolute;
    height: 68px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 422px;
    background-image: linear-gradient(to right, #04505c, #d9f7ff);e1e1, #ecf0f1);
}

.fab {
    color: #041355;
    font-size: 35px;
}

footer ul {
    position: absolute;
    left: -17px;
}

footer ul li {
    display: inline-block;
    margin-left: 63px;
}

