html, body {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    /*height: 100%;
    width: 100%; */
    
    
}

body {
    background-color: rgb(3, 3, 161);
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*height: 100%;
    width: 100%;*/

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*gap: 5px;*/
    gap: 20px;
 
    background-image: linear-gradient(to right, rgb(8, 139, 247), rgb(117, 180, 223));
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 95%;
    margin: 15px;
    width: 330px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

img {
    height: 180px;
    width: 240px;
    border-radius: 50%;
}

h1 {
    color: white;
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 1px;
    text-align: center;
}

h3 {
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top:0;
}

section {
    color: rgb(19 19 20);
    font-size: 20px;
    line-height: 2.2;
    border-style: solid;
    border-color: #455a6e;
    border-width: 18px 8px;
    border-radius: 12px;
    padding: 15px 20px;
}

.fas {
    left: 8px;
    top: 7px;
    color: #041355;
    font-size: 15px;
}

.fab {
    color: #041355;
    font-size: 35px;
}

footer {
    width: 100%;
    background-image: linear-gradient(to right, #04505c, #d9f7ff);
}

.lien {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 0;
    list-style-type: none;
}

@media (min-width: 480px) and (max-width: 720px) {
    .container {
        min-width: 450px;
        max-width: 550px;
    }
}


@media (min-width: 720px) {
     .container {
        min-width: 450px;
        max-width: 550px;
        margin-top: 10%;
    }
}

